h2 {
    text-align: center;
    background-color: skyblue;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #1d1d1d;
}

.errores {
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    display: none;
}

table#tablaBox2 thead tr, table#tablaBox2 tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table#tablaBox2 thead tr th, table#tablaBox2 tbody tr td {
    width: 50%;
}

table#tablaBox2 tbody{
    display: block;
    height: 250px;
    overflow-y: scroll;
}