h2 {
    text-align: center;
    background-color: skyblue;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #1d1d1d;
}

.errores {
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    display: none;
}

#txtNombreEspecialidadNueva, #txtEsp {
    width: 400px;
}

table#tablaEspecialidades2 thead tr, table#tablaEspecialidades2 tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table#tablaEspecialidades2 thead tr th, table#tablaEspecialidades2 tbody tr td {
    width: 50%;
}

table#tablaEspecialidades2 tbody{
    display: block;
    height: 250px;
    overflow-y: scroll;
}

.btn {
    min-width: 1px;
}

h3, h4 {
    text-align: center;
}

#tbEsp {
    margin: auto;
}

#txtEsp {
    text-align: center;
    background: cornsilk;
    font-size: 25px;
}

 /* Customize the label (the container) */
 .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  } 