h2 {
    text-align: center;
    background-color: skyblue;
    padding: 10px;
    border-radius: 0px;
    border: 1px solid #1d1d1d;
}

.errores {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    display: none;
}

#txtTratamientoNuevo {
    width: 400px;
}

table#tablaTratamientos2 thead tr, table#tablaTratamientos2 tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table#tablaTratamientos2 thead tr th, table#tablaTratamientos2 tbody tr td {
    width: 25%;
}

table#tablaTratamientos2 tbody{
    display: block;
    height: 400px;
    overflow-y: scroll;
}