h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #1d1d1d;
}

.errores {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    display: none;
}

.bloque {
    display: block;
    border: solid 1px #dedbdb;
    padding: 3px;
    margin-bottom: 10px;
}

.titulo {
    display: block;
    width: 100%;
    padding-bottom: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    border-bottom: solid 1px #dedbdb;
}

#txtNombrePaciente {
    width: 400px;
}

#content {
    display: block;
    width: 1100px;
    overflow-x: scroll;
}

table#tablaAgenda thead tr, table#tablaAgenda tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table#tablaAgenda thead tr th, table#tablaAgenda tbody tr td{
    width: 150px;
    text-align: center;
}

table#tablaAgenda tbody tr td{
    font-size: 12px;
    padding: 0;
}

table#tablaAgenda tbody{
    display: block;
    height: 350px;
    overflow-y: scroll;
}

table#tablaAgenda thead tr th.column1, table#tablaAgenda tbody tr td.column1 {
    font-weight: bold;
}

.no-trabaja {
    background: #c8c6c6;
}

#txtValorTratamiento {
    text-align: right;
}

.pointer:hover {
    cursor: pointer;
}