h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: skyblue;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #1d1d1d;
}

.errores {
    -webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 14px;
    padding: 7px;
    position: absolute;
    display: none;
}

.margen {
    margin-top: 70px;
}

.margenButtons {
    margin-top: 40px;
}

.marcar {
    text-align: center;
}

/*  Tabla Disponibilidad  */
table#tablaDisponibilidad thead tr, table#tablaDisponibilidad tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

table#tablaDisponibilidad thead tr th, table#tablaDisponibilidad tbody tr td {
    width: 120px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
}

table#tablaDisponibilidad tbody{
    display: block;
    height: 470px;
    overflow-y: scroll;
}

#content {
    display: block;
    overflow-x: scroll;
}

/*  Tabla horarios registrados  */

#tablaHorario thead tr th, #tablaHorario tbody tr td {
    text-align: center;
    font-size: 12px;
    padding: 0;
    padding-top: 5px;
}